.Table {
    width: calc(100% - 20px);

    margin: 12px;

    box-sizing: border-box;

    font-size: 14px;

    border-collapse: collapse;

    th {
        white-space: nowrap;
        padding: 0 12px 12px 12px;
    }


    
    &__Head {
        color: var(--secondary-color);
        
        
    }
    
    &__Body {
        td {
            // padding: 21px 12px;
            border-top: 1px solid var(--border-color);
        }
        
    }
    
    &__Name {
        width: 757px;
    }
    
    &__Input {
        height: 36px;
        width: 100%;
        
        border: 1px solid var(--border-color);
        border-radius: 6px;
        padding-left: 10px;
        background: none;
        color: white;
    }

    &__Data {
        z-index: 2;

        text-align: left;
        white-space: nowrap;

        padding: 21px 12px;
        border-top: 1px solid var(--border-color);
    }

    &__IconSecondary {
        display: none;
    }

    &__DataFirst {
        padding-right: 0;
    }
}