:root {
  --main-color: white;
  --secondary-color: #A1A1AA;
  --main-background: #202124;
  --secondary-background: #27272A;
  --border-color: #414144;
}


body {
  margin: 0;

  height: 100vh;
  box-sizing: border-box;

  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-background);
  color: white;
}